<section>
  <p class="text-white text-center fs-3">Talent</p>
  <p-menu [model]="sidebarList" orientation="vertical" [style]="{'color': '#fff', 'background-color':'#2f4454','border':'none'}" class="list text-white">
<!--
    <ng-template let-item pTemplate>
      <p class="fw-bold fs-3 text-white text-center">{{item.label}}</p>
      <p class="fw-bold fs-3 text-white text-center">{{item.label}}</p>
      <p class="fw-bold fs-3 text-white text-center">{{item.label}}</p>
    </ng-template> -->
  </p-menu>
</section>

